<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/body}">
<head>
	<script type="text/javascript" th:src="@{/js/dataLink/apiConfigList.js}"></script>    
</head>

<div layout:fragment="content">
	<div class="container bg-white p-4 rounded shadow">
		<h2 class="text-center mb-4">데이터 연계 목록</h2>
 
		<form>
			<div class="row align-items-center mb-3 g-2">
				<div class="col-md-2">
					<select id="searchType" class="form-select form-select-sm">
						<option value="" selected>전체</option>
						<option value="apiName">API명</option>
						<option value="baseUrl">URL</option>
					</select>
				</div>
               <!-- 검색 키워드 입력 -->
                <div class="col-md-3">
                    <input class="form-control form-control-sm" type="text" id="searchKeyword" name="searchKeyword" placeholder="API">
                </div>

                <!-- 검색 버튼 -->
                <div class="col-md-1">
                    <button type="button" id="searchButton" class="btn btn-sm btn-primary w-100">검색</button>
                </div>
			</div>
		</form>
		
		<div class="col-md-12 d-flex justify-content-around" id="filterRadioGroup">
		    <!-- 승인 상태 필터 -->
		    <div class="me-4">
		        <strong class="me-2">승인 상태:</strong>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input" type="radio" name="useYn" value="" id="approveAll" checked>
		            <label class="form-check-label" for="approveAll">전체</label>
		        </div>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input" type="radio" name="useYn" value="Y" id="approved">
		            <label class="form-check-label" for="approved">사용</label>
		        </div>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input" type="radio" name="useYn" value="N" id="notApproved">
		            <label class="form-check-label" for="notApproved">미사용</label>
		        </div>
		    </div>
		</div>
		
		<div class="d-flex justify-content-end gap-2 mb-3">		
			<button class="btn btn-outline-primary" onclick="startAllSchedules()"> <i class="fa fa-play"></i> 전체 시작</button>
			<button type="button" class="btn btn-outline-danger" onclick="stopAllSchedules()"><i class="fa fa-stop"></i> 전체 중지</button>
			<button class="btn btn-outline-primary" onclick="fn_menuLink('regist');">연계 등록</button>
		</div>


		<div class="table-responsive">
			<table class="table table-striped table-bordered align-middle">
				<thead class="table-light">
					<tr>
						<th scope="col">순번</th>
						<th scope="col">API 명</th>
						<th scope="col">스케줄 타입</th>
						<th scope="col">실행 설정</th>
						<th scope="col">다음 실행시간</th>
                        <th scope="col">마지막 실행</th>
                        <th scope="col">연계 결과</th>
                        <th scope="col">작동</th>
                        <th scope="col">관리</th>
					</tr>
				</thead>
				<tbody id="tablelist"></tbody>
			</table>
		</div>

		<div class="row mt-3 g-3 justify-content-between align-items-center">
			<div class="col-md-auto">
				<small><span id="totalCountTop">0</span>건 검색됨. 페이지당:</small>
				<select class="form-select form-select-sm d-inline-block w-auto ms-2 pageUnitTop" name="pageUnitTop" onchange="fn_menuList()">
					<option selected="selected" value="10">10 건</option>
					<option value="20">20 건</option>
					<option value="50">50 건</option>
					<option value="100">100 건</option>
					<option value="1000">1,000 건</option>
				</select>
			</div>
			<div id="topPagination" class="col-md-auto pagination"></div>
		</div>
	</div>
</div>
</html>