<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/body}">
<head>
    <script type="text/javascript" th:src="@{/js/chart/chart.js}"></script>
    <style>
        .transition-margin {
            transition: margin-left 0.3s ease;
        }

        .sidebar-open #contentArea {
            margin-left: 250px;
            margin-top: 80px; /* 헤더와 겹치지 않도록 */
        }

        .sidebar-collapsed #contentArea {
            margin-left: 80px;
            margin-top: 80px; /* 헤더와 겹치지 않도록 */
        }
        
        /* 기본 상태에서도 상단 여백 적용 */
        #contentArea {
            margin-top: 180px;
        }
    </style>
    <script>
        $(document).ready(function () {
            const $body = $('body');

            $('.side-bar').on('mouseenter', function () {
                $body.removeClass('sidebar-collapsed').addClass('sidebar-open');
            });

            $('.side-bar').on('mouseleave', function () {
                $body.removeClass('sidebar-open').addClass('sidebar-collapsed');
            });
        });
    </script>
</head>

<div layout:fragment="content" id="contentArea" class="d-flex justify-content-evenly transition-margin">
    <!-- CPU 사용량 카드 -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">CPU 사용량</h6>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="cpuChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- 메모리 사용량 카드 -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">MEMORY 사용량</h6>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="memoryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

</html>