<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<!-- 순서주의 !! -->
    <!-- RSA -->
    <script type="text/javascript" th:src="@{/js/rsa/rsa.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsa/jsbn.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsa/prng4.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsa/rng.js}"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    	
	<script type="text/javascript" th:src="@{/js/chart/chart.umd.js}"></script>
	<script type="text/javascript" th:src="@{/js/cmmn/header.js}"></script>	
	<script type="text/javascript" th:src="@{/js/cmmn/left.js}"></script>	
	
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">	
	
	<link rel="stylesheet" th:href="@{/css/cmmn/left.css}">
	<link rel="stylesheet" th:href="@{/css/cmmn/header.css}">
	<link rel="stylesheet" th:href="@{/css/cmmn/page.css}">
</head>
<body class="bg-dark">
	<div th:replace="~{cmmn/header :: header}"></div>
	<div class="wrapper">
    <div th:replace="~{cmmn/left :: left}"></div>        
    <div class="content" layout:fragment="content"></div>
    </div>
    <input type="hidden" id="sessionTimeoutSeconds" th:value="${session.sessionTimeoutSeconds}" />
</body>
<script th:inline="javascript" type="text/javascript">
	const menuUrl = /*[[@{/members/menu}]]*/ "";
	var userRole = /*[[${session.memberRole}]]*/"";
	const sessionTimeout = /*[[${session.sessionTimeoutSeconds}]]*/"";
    $(document).ready(function () {
    	
        $(".side-bar").hover(
            function() {
                $(".content").css("margin-left", "calc(var(--side-bar-width) - 20px)");
            },
            function() {
                $(".content").css("margin-left", "70px");
            }
        );
        fn_selectMenuList(); // 외부 파일에 정의된 함수 호출
    });
    
	let secondsRemaining = sessionTimeout;
	
    function updateCountdown() {
        let minutes = Math.floor(secondsRemaining / 60);
        let seconds = secondsRemaining % 60;
        $("#countdown").text(minutes + "분 " + seconds + "초");

        if (secondsRemaining > 0) {
            secondsRemaining--;
            setTimeout(updateCountdown, 1000);
        } else {
            logoutBySessionTimeout();
        }
    }

    function logoutBySessionTimeout() {
        fetch("/logout", {
            method: "POST",
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').getAttribute('content')
            }
        }).then(() => {
            alert("로그인 세션만료");
            window.location.href = "/login"; // ✅ 반드시 로그인 페이지로 이동
        }).catch(err => {
            console.error("자동 로그아웃 실패", err);
        });
    }
    updateCountdown();
</script>

</html>