@charset "UTF-8";
body {
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 배경 이미지 설정 */
    background-image: url('/images/login.jpg');
    background-repeat: no-repeat; /* 반복 안 함 */
    background-size: contain; /* 이미지가 영역 내에 맞게 축소됨 */
    background-position: center center; /* 이미지를 중앙 정렬 */
    background-color: black; /* 이미지가 작은 경우 배경색 설정 */
    }
.login-container {
    width: 500px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    }
.input-group {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    }
.input-group label {
	width: 80px;
    text-align: left;
    }
.input-group input {
	flex: 1;
	}
.modal-footer {
	justify-content: center;
}

