<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/body}">
<head>
	<script type="text/javascript" th:src="@{/js/data/dataDetail.js}"></script>    
</head>

<div layout:fragment="content">
	<div class="container bg-white p-4 rounded shadow">
		<h2 class="text-center mb-4" th:text="${apiNm}"></h2>
		<form>
			<div class="row align-items-center mb-3 g-2">
               <!-- 검색 키워드 입력 -->
                <div class="col-md-3">
                    <input class="form-control form-control-sm" type="text" id="searchKeyword" name="searchKeyword" placeholder="검색명을 입력하세요">
                </div>

                <!-- 검색 버튼 -->
                <div class="col-md-1">
                    <button type="button" id="searchButton" class="btn btn-sm btn-primary w-100">검색</button>
                </div>
			</div>
		</form>

		<div class="table-responsive">
			<table class="table table-striped table-bordered align-middle">
				<thead class="table-light">
					<tr id="tablelistTitle">

					</tr>
				</thead>
				<tbody id="tablelist"></tbody>
			</table>
		</div>
		
		<div class="d-flex justify-content-end mt-4">
			<button type="button" id="excelDownloadall" class="btn btn-outline-primary me-3">Excel 전체 다운로드</button>
			<button type="button" id="excelDownload" class="btn btn-outline-primary me-3">Excel 다운로드</button>
			<button type="button" class="btn btn-outline-primary board-list-btn"
								th:data-topmenu="${topMenu}" 
								th:data-submenu="${subMenu}">목록</button>		
        </div>

		<div class="row mt-3 g-3 justify-content-between align-items-center">
			<div class="col-md-auto">
				<small><span id="totalCountTop">0</span>건 검색됨. 페이지당:</small>
				<select class="form-select form-select-sm d-inline-block w-auto ms-2 pageUnitTop" name="pageUnitTop" onchange="fn_menuList()">
					<option selected="selected" value="10">10 건</option>
					<option value="20">20 건</option>
					<option value="50">50 건</option>
					<option value="100">100 건</option>
					<option value="1000">1,000 건</option>
				</select>
			</div>
			<div id="topPagination" class="col-md-auto pagination"></div>
		</div>
	</div>
</div>
</html>