<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>로그인 페이지</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <script type="text/javascript" th:src="@{/js/login/login.js}"></script>
    <!-- 순서주의 !! -->
    <script type="text/javascript" th:src="@{/js/rsa/rsa.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsa/jsbn.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsa/prng4.js}"></script>
	<script type="text/javascript" th:src="@{/js/rsa/rng.js}"></script>
</head>
<body>
<div class="login-container">
    <h3 class="mb-4">로그인</h3>
    <form>
        <div class="input-group mb-3">
            <label for="memberId">아이디</label>
            <input type="text" id="memberId" class="form-control" name="memberId">
        </div>
        <div class="input-group mb-4">
            <label for="memberPw">비밀번호</label>
            <input type="password" id="memberPw" class="form-control" name="memberPw">
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary login">로그인</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">회원가입</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#findModal">아이디/비밀번호 찾기</button>
        </div>
    </form>
</div>

<!-- 회원가입 모달 -->
<div class="modal fade" id="registerModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="joinMember">
        <div class="modal-header">
          <h5 class="modal-title">회원가입</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
		<div class="mb-3">
		  <label class="form-label">아이디</label>
		  <div class="d-flex align-items-center">
		    <input type="text" class="form-control me-2" id="registerMemberId" name="registerMemberId">
		    <button type="button" class="btn btn-primary" id="memberChk" style="white-space: nowrap;">중복체크</button>
		  </div>
		</div>
          <div class="mb-3">
            <label>비밀번호</label>
            <input type="password" class="form-control"id="registerMemberPw"  name="registerMemberPw">
          </div>
          <div class="mb-3">
            <label>비밀번호 확인</label>
            <input type="password" class="form-control" id="registerMemberPw2">
          </div>
          <div class="mb-3">
            <label>이메일</label>
            <input type="email" class="form-control"id="registerEmail"  name="registerEmail">
          </div>
           <div class="mb-3">
            <label>이름</label>
            <input type="text" class="form-control"id="registerName"  name="registerName">
          </div>
          <div class="mb-3">
            <label>기관 및 부서</label>
            <input type="text" class="form-control" id="registerCompany"  name="registerCompany">
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary joinMemberButton">가입하기</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="findModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">아이디/비밀번호 찾기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>이메일을 입력하시면 임시 비밀번호를 보내드립니다.</p>
        <input type="email" class="form-control" placeholder="이메일 입력">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary">전송</button>
      </div>
    </div>
  </div>
</div>

        <input type="hidden" id="RSAModulus" th:value="${RSAModulus}" />
        <input type="hidden" id="RSAExponent" th:value="${RSAExponent}" />
</body>
</html>