<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cmmn/body}">
<head>
    <meta charset="UTF-8">
    <title>상위 메뉴 생성</title>
    <script th:src="@{/js/mng/topMenuMng.js}" defer></script>
    <script th:src="@{/js/mng/topMenuMngForm.js}" defer></script>
</head>

<div layout:fragment="content">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card shadow-sm">
                    <div class="card-header text-white bg-primary text-center fw-bold fs-5"  th:text="${topMenu != null} ? '상위 메뉴 수정' : '상위 메뉴 생성'"></div>
                    <div class="card-body">
                        <form id="topMenuForm">
                            <!-- 영문명 -->
                            <div class="mb-3">
                                <label for="topMenu" class="form-label">상위메뉴 영문명</label>
                                <input type="text" class="form-control" id="topMenu" name="topMenu" th:value="${topMenu != null ? topMenu.topMenu : ''}"
                                       pattern="[A-Za-z_]+" placeholder="영어로만 입력해주세요"
                                       oninput="this.value = this.value.replace(/[^a-zA-Z_]/g, '')">
                                <div id="topMenuDiv" class="form-text text-danger"></div>
                            </div>

                            <!-- 한글명 -->
                            <div class="mb-4">
                                <label for="topMenuNm" class="form-label">상위메뉴 한글명</label>
                                <input type="text" class="form-control" id="topMenuNm" name="topMenuNm" th:value="${topMenu != null ? topMenu.topMenuNm : ''}"
                                       pattern="[가-힣]+" placeholder="한글로만 입력해주세요"
                                       oninput="this.value = this.value.replace(/[^가-힣ㄱ-ㅎㅏ-ㅣ]/g, '')">
                                <div id="topMenuNmDiv" class="form-text text-danger"></div>
                            </div>

                            <!-- 버튼 -->
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary me-2" id="topMenuChk">중복체크</button>
                                    <button type="button"
							            class="btn btn-primary me-2"
							            th:id="${topMenu != null} ? 'topMenuUpdate' : 'topMenuCreate'"
							            th:text="${topMenu != null} ? '수정' : '생성'"></button>
                                <button type="button" class="btn btn-outline-primary" onclick="fn_menuLink('topMenuList')">목록</button>
                            </div>
                             <input type="hidden" id ="topMenuSeq" name="topMenuSeq" th:value="${topMenu != null ? topMenu.topMenuSeq : ''}" />
                             <input type="hidden" id ="_topMenu" name="topMenu" th:value="${topMenu != null ? topMenu.topMenu : ''}" />
                             <input type="hidden" id ="_topMenuNm" name="topMenuNm" th:value="${topMenu != null ? topMenu.topMenuNm : ''}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
